body{
  margin:0;
  padding:0;
}

#container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  margin-top:2em;
  
}

/* styling of textarea in React */
.editor{
  font-size:15px;
  width:515px;
  resize:vertical;
  padding-top:0.5em;
  padding-left:0.5em;
  border:2px lightblue solid;
  border-radius:3px;
}

#preview{
  font-family:sans-serif;
  font-size:15px;
  width:525px;
  padding-left:20px;
  display:inline-block;
}

